.navbar30 {
    height: 30px;
}

a {
    color: #979797;
    text-decoration: none;
    background-color: transparent;
}


.navbar-nav li {
    margin-right: 0px;
    width: 110px;
    text-align: center;
}



.nav-acti{
    color: #3AB6FF;
}

.navbar{
    padding: 0px;
}

.btn-menu a:active{color:#000000}

.nav-link a:hover{color:#3AB6FF !important;}
.nav-item:hover{
    cursor: pointer;
    color:#3AB6FF !important;
}

.btn-round{border-radius: 50px;}

.nav-link.active {
    color: #3AB6FF !important;
    background-color: transparent;
}


.bg-light-blue2{
    background-color:#F3F9FE ;
    border-top: 2px solid #3AB6FF;
}

.nav-link2 {
    padding: 0  0.5rem;
}

.top-menubar {
    padding-right: 0px; 
    padding-left: 0px; 

}



.chv-down-icon:hover {
    transform: rotateX(180deg);
    margin-bottom: 2px;
}

