@media (min-width: 1440px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1240px;
    }
}

a {
    text-decoration-line: none !important;
}

section {
    margin-bottom: 20px;
}

.navbar {
    min-height: 70px;
}

.navbar-toggler {
    height: 54px;
}

.navbar-nav li {
    margin-right: 14px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #404040;
    font-size: 16px;
    font-weight: 600;
}

.nav-button {
    right: 0;
    top: 14px;
}

.logo {
    max-height: 55px;
    max-width: 150px;
}

.menu-button {
    width: 18px;
    height: 12px;
}

#flag {
    width: 50px;
    height: 46px;
    padding: 0px;
}

#btnLogin {
    height: 46px;
}

.btn-avatar {
    border-radius: 100px !important;
    padding: 6px;
    background-color: #f0f2f5;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-100 {
    border-radius: 100px !important;
}

.bg-pale-grey {
    background-color: #f0f2f5;
}

.goal-status {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100rem;
    color: #ffffff;
    display: -ms-flexbox !important;
}

.dim-per30 {
    width: 30%;
}

.dropdown-menu.common-top {
    min-width: 300px;
    background-color: #ffffff;
}

nav.navbar.navbar-expand-lg.navbar-light .bg-white {
    background-color: #f0f2f5 !important;
}

#compayMenu ul {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}

#compayMenu ul li {
    margin-right: 20px;
    padding: 5px 0px;
}

#compayMenu ul li a {
    text-decoration: none;
    color: #404040;
    font-size: 16px;
    font-weight: 600;
}

#channel a {
    margin-right: 10px;
}

#compayMenu p {
    font-size: 14px;
    color: #404040;
}

#rgMainBanner .main-banner {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}

.main-banner .carousel-indicators {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.main-banner .carousel-indicators .carousel-nav {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #ffffff;
    color: #9b9b9b;
    font-size: 14px;
}

.main-banner .carousel-indicators .active {
    background-color: #f7f9fa !important;
    color: #276678;
    font-weight: 600;
}

.main-banner .carousel-indicators div:nth-child(1) {
    border-radius: 0px 10px 0px 0px;
}

.main-banner .carousel-indicators div:nth-last-child(1) {
    border-radius: 0px 0px 10px 0px;
    border-bottom: 0px !important;
}

.main-banner .carousel-indicators div {
    border-bottom: #d8e3e7 solid 1px;
}

.main-banner .carousel-indicators div span:nth-child(1) {
    width: 100%;
    text-align: center;
}

.main-banner .rounded-left-10 {
    border-radius: 10px 0px 0px 10px;
}

.main-banner .rounded-right-10 {
    border-radius: 0px 10px 10px 0px;
}

@media screen and (max-width: 992px) {
    #rgMainBanner .main-banner {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .main-banner .carousel-indicators {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .main-banner .carousel-indicators .carousel-nav {
        padding: 6px !important;
    }

    .main-banner .carousel-indicators div {
        border-bottom: 0px !important;
    }

    .main-banner .rounded-left-10 {
        border-radius: 10px 10px 00px 0px !important;
    }

    .main-banner .rounded-right-10 {
        border-radius: 0px 0px 10px 10px !important;
    }

    .main-banner .carousel-indicators div:nth-child(1) {
        border-radius: 0px 0px 0px 10px !important;
    }

    .main-banner .carousel-indicators div:nth-last-child(1) {
        border-radius: 0px 0px 10px 0px;
    }
}

/* 상단 베너 색상, 이미지 */

header.readinggate {
    background-color: #ffc437;
}

.bg-top.readinggate {
    background-image: url("../image/homepage/img_banner_reading_gate@2x.png");
}

header.promotion {
    background-color: #f7b5a8;
}

.bg-top.promotion {
    background-image: url("../image/homepage/img_banner_promotion@2x.png");
}

header.ranking {
    background-color: #8a85fb;
}

.bg-top.ranking {
    background-image: url("../image/homepage/img_banner_point@2x.png");
}

header.board {
    background-color: #f690a3;
}

.bg-top.board {
    background-image: url("../image/homepage/img_banner_news@2x.png");
}

header.payment {
    background-color: #2371e3;
}

.bg-top.payment {
    background-image: url("../image/homepage/img_banner_payment@2x.png");
}

header.support {
    background-color: #9e8ed1;
}

.bg-top.support {
    background-image: url("../image/homepage/img_banner_support@2x.png");
}

header.school {
    background-color: #f6a239;
}

.bg-top.school {
    background-image: url("../image/homepage/img_banner_school@2x.png");
}

header.company {
    background-color: #9290c4;
}

.bg-top.company {
    background-image: url("../image/homepage/img_banner_company@2x.png");
}

/* 상단 베너 색상, 이미지 끝 */

.bg-top {
    padding-top: 25px;
    padding-bottom: 20px;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
}



.header-title-1 {
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.header-title-2 {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

@media screen and (max-width: 575px) {
    .bg-top {
        padding-top: 20px;
        padding-bottom: 18px;
        background-size: 45%;
    }

    .header-title-1 {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    .header-title-2 {
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
}

.page-menu ul {
    padding: 10px 0px;
    white-space: nowrap;
    overflow-y: scroll;
}

.page-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.page-menu ul li a {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #f7f9fa;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.page-menu ul li a.active {
    background-color: #404040;
    color: #ffffff;
}

@media screen and (max-width: 575px) {
    .page-menu ul li a {
        padding: 12px 15px;
        font-size: 14px;
    }

}

.sub-page-menu ul {
    padding: 10px 0px;
    white-space: nowrap;
    overflow-y: scroll;
}

.sub-page-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.sub-page-menu ul li a {
    padding: 12px 20px;
    border-radius: 100px;
    background-color: #f7f9fa;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.sub-page-menu ul li a.active {
    background-color: #00adb5;
    color: #ffffff;
}

@media screen and (max-width: 575px) {
    .sub-page-menu ul li a {
        padding: 12px 15px;
        font-size: 14px;
    }

}

.rank-card {
    display: -ms-flexbox;
    display: flex;
    background-color: #f4f4f7;
    border-radius: 10px;
    padding: 5px 15px;
}

.rank-card.my-rank {
    background-color: rgba(129, 219, 148, 0.2);
}

.rank-card.my-master {
    background-color: #77acf148;
}

.rank-card .rank {
    display: -ms-flexbox;
    -ms-flex-flow: column;
    -ms-flex-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 10px;
}

.rank-card .rank.school {
    width: 80px;
    margin-right: 15px;
    padding: 30px 10px;
}

@media screen and (max-width: 575px) {
    .rank-card .rank.school {
        width: 60px;
    }
}

.rank-card .rank .number {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    background-color: #2e2e2e;
    padding: 3px;
    text-align: center;
    border-radius: 999px;
}

.rank-card .rank .master {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    background-color: #1cc5dc;
    padding: 3px;
    text-align: center;
    border-radius: 999px;
}

@media (max-width:575px) {
    .rank-card .user-info {
        display: -ms-flexbox;
        -ms-flex-flow: column;
        -ms-flex-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .rank-card .user-info .name {
        font-size: 18px;
    }

    .rank-card .user-info .points div {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        color: #929292;
    }

    .rank-card .user-info .read div {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        color: #929292;
    }
}

@media (min-width:576px) {
    .rank-card .user-info {
        width: 100%;
        display: -ms-flexbox;
        -ms-flex-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .rank-card .user-info .name {
        font-size: 26px;
        width: 50%;
    }

    .rank-card .user-info .points div {
        font-size: 16px;
        text-align: center;
        color: #929292;
    }

    .rank-card .user-info .points div:nth-child(2) {
        font-size: 18px;
        color: #000000 !important;
    }

    .rank-card .user-info .read div {
        font-size: 16px;
        text-align: center;
        color: #929292;
    }

    .rank-card .user-info .read div:nth-child(2) {
        font-size: 18px;
        color: #000000 !important;
    }
}

.kor-ranking-info .title {
    font-size: 20px;
}

.kor-ranking-info .info {
    font-size: 14px;
    color: #1a1a1a !important;
    margin-bottom: 5px !important;
}

.kor-ranking-info p {
    font-size: 14px;
    color: #9b9b9b;
}

.bg-pale-grey {
    background-color: #f0f2f5;
}

.btn-rg-red {
    background-color: #E13939;
}

.btn-rg-white {
    color: #979797;
    background-color: #ffffff;
}

.kor-info-title {
    font-size: 22px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
    cursor: pointer;
}

.kor-info-title+.no-pass {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #e13939;
}

.board .row {
    border-bottom: 1px solid #dee2e6;
}

.board .row:nth-last-child(1) {
    border-bottom: 0px;
}

.page-input-box {
    width: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.board .contents img {
    max-width: 100%;
}

.card-channel img {
    border-radius: 9px 9px 0px 0px;
}

.card-channel-img-area {
    height: 180px;
    white-space: nowrap;
}

.card-channel .title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
    margin-bottom: 8px;
}

.card-channel .channel-name {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d7d7d7;
    margin-bottom: 8px;
}

.card-channel .date {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.btn-rounded-dark {
    padding: 10px 30px;
    border-radius: 100px;
    background-color: #404040;
    color: #ffffff;
    font-size: 16px;
}

.btn-rounded-dark:hover {
    color: #ffffff;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}

.contents.table .row:nth-child(odd) {
    background-color: #f7f9fa;
}

.contents.table .row:nth-child(1) {
    background-color: #00adb5;
    color: #ffffff;
    font-weight: bold;
}

.contents.table .row:nth-last-child(1) {
    border-bottom: 1px solid #dee2e6;
}

input.search {
    background-image: url("../image/homepage/search_filled@2x.png");
    background-position: center left 15px;
    background-repeat: no-repeat;
    background-size: 12px 13px;
    padding-left: 35px;
}

.card-gallery img {
    border-radius: 9px 9px 0px 0px;
}

.card-gallery-img-area {
    height: 180px;
    white-space: nowrap;
}

.card-gallery .title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
    margin-bottom: 8px;
}

.card-gallery .gallery-name {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d7d7d7;
    margin-bottom: 8px;
}

.card-gallery .date {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.card-gallery .empty {
    min-height: 450px;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 여기까지 작업함 (2021-05-04) */

.payment .circle {
    position: absolute;
    top: 13px;
    left: 30px;
}

.circle {
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 100px;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.green-1 {
    width: 60px;
    height: 60px;
    background-color: #e1d944;
}

.circle.green-2 {
    width: 60px;
    height: 60px;
    background-color: #00b27f;
}

.circle.green-3 {
    width: 60px;
    height: 60px;
    background-color: #158b68;
}

.circle.green-4 {
    width: 60px;
    height: 60px;
    background-color: #065b41;
}

.ticket-name {
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #404040;
    margin: 20px 0px;
}

.ticket-price {
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #404040;
    margin: 20px 0px;
}

.btn-blue {
    padding: 10px;
    border-radius: 10px;
    background-color: #2371e3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
}

.bg-grey {
    background-color: #f2f2f2;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.purchase-info tr td:nth-child(1) {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

.purchase-info tr td:nth-child(2) {
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

@media screen and (max-width: 575px) {
    .sub-title {
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404040;
    }

    .purchase-info tr td:nth-child(1) {
        padding: 5px;
        font-size: 16px;
        color: #979797;
    }

    .purchase-info tr td:nth-child(2) {
        padding-left: 5px;
        font-size: 15px;
        font-weight: 600;
        color: #404040;
    }
}

.input-label {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.txt-dark-16-bold {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.chek-text {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

@media screen and (max-width: 575px) {
    .btn-purchase {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .purchase-form {
        width: 50%;
    }
}

.ticket-message {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.card-guide img {
    border-radius: 9px 9px 0px 0px;
}

.card-guide-img-area {
    height: 180px;
    white-space: nowrap;
}

.card-guide .title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.board .empty {
    min-height: 450px;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-mp {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.btn-rg-blue {
    color: #ffffff;
    background-color: #2371e3;
}

.btn-rg-blue:hover {
    color: #ffffff;
    background-color: #0069d9;
}

.min-h {
    min-height: 50vh;
}

.dim-input {
    height: 2.8rem !important;
}

.dim-per30 {
    width: 30%;
}

.dim-per32 {
    width: 32%;
}

.dim-per47 {
    width: 47%;
}

.select-dem {
    background-image: url('../image/icon/mini-arrow-down.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.btn-mp-s {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../assets/image/icon/sort_down.png) no-repeat 97% 50%;
    height: 2.8rem !important;
}

select::-ms-expand {
    display: none;
}

.card-main-promotion img {
    border-radius: 9px 9px 0px 0px;
}

.card-main-promotion-img-area {
    /* height: 180px; */
    white-space: nowrap;
}

.card-main-promotion .title {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}

.bg-dark-blue {
    background-color: #f8f5f1;
}

table th,
td {
    width: 20%;
    text-align: center;
}

@media screen and (max-width: 575px) {

    table th,
    td {
        font-size: 11px;
        padding: 10px 0px !important;
    }
}

/* 2021-05-20 이후 작업 */

.bg-cloud {
    background-image: url('../image/bg/bg_cloud.png');
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 1920px;
}

footer {
    background-color: #ffffff;
}

.trial-book-cover {
    width: 100%;
    max-width: 190px;
    border-radius: 10px;
    border: 1px solid #f0f2f5;
}

.trial-list .txt-dark-16 {
    color: #c2c2c2;
}

@media screen and (max-width: 575px) {
    .trial-book-cover {
        width: 150px;
    }

    .trial-list .txt-dark-16 {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    .trial-book-cover {
        width: 120px;
    }

    .trial-list .txt-dark-16 {
        font-size: 13px;
    }

    .trial-list .txt-dark-20 {
        font-size: 16px;
    }
}

.icon-dot {
    margin: 0px 6px 2px 0px;
    width: 8px;
    height: 8px;
}

.bg-light-pink {
    background-color: #fce5f3;
}

.bg-light-blue {
    background-color: #d7f7f7;
}

.bg-light-yellow {
    background-color: #f9f7cd;
}

.bg-light-green {
    background-color: #dff6d4;
}

.bg-light-purple {
    background-color: #DEE1FF;
}

.bg-dadoc {
    background-image: url('../../assets/image/homepage/school/banner_dadok_bg@x2.png');
    background-size: 150% 190%;
    background-repeat: repeat-x;
    background-position: center top -22px;
    border-radius: 10px 10px 0px 0px;
}

.banner-home-sub {
    min-height: 155px;
}

.bg-img-id {
    background-image: url('../image/homepage/academy/ico_log_id@x2.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left 15px;
    padding-left: 42px;
}

.bg-img-password {
    background-image: url('../image/homepage/academy/ico_log_pw@x2.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left 15px;
    padding-left: 42px;
}

.img-thumb-gallery {
    max-height: 142px;
    border-radius: 10px;
}

.bg-light-orange {
    background-color: #f7e0d8;
}

.bg-hall-of-fame {
    background-image: url('../image/homepage/academy/banner_ranking_bg@x2.png');
    background-size: cover;
}

.hompage-contrnts {
    padding: 20px;
    padding-top: 100px;
}

@media screen and (max-width: 575px) {
    .hompage-contrnts {
        padding: 10px;
        padding-top: 40px;
    }
}

.hompage-contrnts img {
    width: 100%;
}

.hompage-contrnts .nav-link {
    border-radius: 15px 15px 0px 0px !important;
    font-size: 20px;
    color: #929292;
    padding-left: 30px;
    padding-right: 30px;
}

.hompage-contrnts .nav-link.active {
    background-color: #e13939 !important;
    color: #ffffff !important;
}

@media screen and (max-width: 575px) {
    .hompage-contrnts .nav-link {
        border-radius: 12px 12px 0px 0px !important;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 576px) {
    .row.payment {
        height: 40vh;
    }
}

@media screen and (max-width: 575px) {
    .promotion-title {
        font-size: 24px;
    }

    .promotion-sub-title {
        font-size: 16px !important;
    }

    .promotion-p {
        font-size: 15px !important;
    }
}

.chatbot {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.h55 {
    height: 55px;
}

.bg-global-academy {
    background-color: #fde8e7;
}

@media (min-width: 576px) {
    .top-notice {
        margin-top: -78px;
    }
}

@media (max-width: 575px) {
    .top-notice {
        margin-top: -28px;
    }
}

.label-level-masters {
    border-radius: 10px 10px 0px 0px;
}

.bg-aqua {
    background-color: #35c5dc;
}

.bg-wave-aqua {
    background-image: url('../image/homepage/bg-wave-aqua@2x.png');
    background-size: 384px;
    background-repeat: repeat-x;
}

.ml40 {
    margin-left: 40px;
}

.level-master-carousel-indicator.left {
    position: absolute;
    top: 33px;
    left: 10px;
    z-index: 99998;
}

.level-master-carousel-indicator.right {
    position: absolute;
    top: 33px;
    right: 10px;
    z-index: 99999;
}

.level-master-counter {
    position: absolute;
    bottom: 8px;
    right: 14px;
    
}

.rounded-bottom-9 {
    border-radius: 0px 0px 9px 9px;
}


.bg-color-purple{
    color: rgba(255, 255, 255, 0.50);
/* 14_medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.28px;
border-radius: 14px;
background-color: #704EA6 !important;
}

/* 개인정보 처리방침 영역 */
.privacy-policy-contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.privacy-policy-contents .sub-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.privacy-policy-contents .comment {
    font-size: 14px;
    color: #999;
}

.privacy-policy-contents .contents {
    font-size: 14px;
}

.privacy-policy-contents .contents .contents-p {
    color: #333;
    margin-bottom: 5px;
}

.privacy-policy-contents .contents ul {
    list-style-type: none;
    color: #333;
}

.privacy-policy-contents .square-symbol {
    width: 10px;
    height: 10px;
    background-color: #404040;
    border-radius: 2px;
    margin-right: 5px;
}

.privacy-policy-table {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: scroll;
    font-size: 14px;
    gap: 1px;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
    list-style-type: disc;
}

.privacy-policy-table .colm-a, 
.privacy-policy-table .colm-b {
    background-color: #fff;
    padding: 10px;
}

.privacy-policy-table .colm-a {
    background-color: #f0f2f5;
    font-weight: 600;
}

.privacy-policy-table .colm-b ul {
    padding-left: 15px;
    margin-bottom: 0;
}

.privacy-policy-table .colm-b .indent {
    list-style-type: circle;
    margin-left: 15px;
}

.consignment-table {
    display: grid;
    grid-template-columns: 3fr 3fr 5fr;
    min-width: 500px;
    font-size: 14px;
    gap: 1px;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
    list-style-type: disc;
}

.consignment-table .colm {
    background-color: #fff;
    padding: 10px;
}

.consignment-table .head.colm {
    background-color: #f0f2f5;
    font-weight: 600;
}

.consignment-table .colm ul {
    padding-left: 15px;
    margin-bottom: 0;
}

ul {
    padding-left: 15px;
    margin-bottom: 0;
}